
<h1 class="orden1">Noticias</h1>

<mat-tab-group id="1-tab">
    <mat-tab label="Es genial">
      <div class="orden2">
        <img class="reajustar" src="https://www.hogarmania.com/archivos/201805/sauquillo-plantas-musuclos-articulaciones-XxXx80.jpg">
      
        <p class="especial">
          La planta bola de nieve, también conocida como Mundillo o Sauquillo, es un efectivo antiespasmódico y sedante. Utilizada para aliviar los dolores lumbares (combinado con sauce blanco) y los calambres musculares. Es preferible usarla en tintura. Mezcla con harpagofito para las articulaciones y miembros hinchados.
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Descubren un...">
      <img src="">
    </mat-tab>

    <mat-tab label="Third">
      Content 3 
    </mat-tab>

    <mat-tab label="Four">
      Content 3 
    </mat-tab>

    <mat-tab label="Five">
      Content 3 
    </mat-tab>

    <mat-tab label="k">
      Content 3 
    </mat-tab>

  </mat-tab-group>
  