

<h1 class="orden1">Comuniquese con nosotros</h1>

<p class="orden1">Hagalo mediante el numero <b>1593556879</b> </p>

<h1 class="orden1">En cambio si lo desea, puede dejar una queja</h1>

<div class="host">
<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Razon</mat-label>
    <mat-select>
      <mat-option value="one">Primera opcion</mat-option>
      <mat-option value="two">Segunda opcion</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Queja...</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
  
  