
<mat-card class="orden1" >Que es Greenpeace?</mat-card>

<div class="orden2">
    <img class="reajustar" src="https://casildaya.com/download/multimedia.normal.bcc86eef10aa6ce9.677265656e70656163652d6c6f676f5f6e6f726d616c2e6a7067.jpg">
  
    <p class="especial">
        Greenpeace es una ONG​ ambientalista internacional. Realiza campañas en todo el mundo por temas como la agricultura ecológica, los bosques, el cambio climático, contra el consumismo, por la democracia y el contrapoder, el desarme y la paz y el cuidado de los océanos.​
    </p>
</div>

<mat-card class="orden1" >Averigue mas</mat-card>

<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Objetivos
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Trabajamos para defender el medio ambiente, promover la paz y estimular a la gente para que cambie actitudes y comportamientos que ponen en riesgo a la naturaleza. Somos una organización ecologista internacional sin fines de lucro.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Como se financia?
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Greenpeace se financia exclusivamente de las aportaciones de sus socios y socias y no acepta donaciones de gobiernos, partidos políticos o empresas. Nuestra independencia nos da la autoridad que necesitamos para hacer campañas y conseguir un cambio real.</p>
      </mat-expansion-panel>
  </mat-accordion>
  
